<h2 class="subheading">
  <a href="/trips/<%= tripItem.trip_id %>"><%= tripItem.type %></a>
</h2>
<div class="item-container">
  <div class="item-show">
    <h3>Location/Origin: <%= tripItem.location_origin %></h3>
    <h3>Destination: <%= tripItem.destination %></h3>
    <h3>From: <%= tripItem.fromtime %></h3>
    <h3>To: <%= tripItem.totime %></h3>
    <h3>Company: <%= tripItem.company %></h3>
    <h3>Booking Reference: <%= tripItem.booking_reference %></h3>
  </div>
  <footer class="de-container">
    <div>
      <a href="/trips/<%= tripItem.trip_id %>/tripItems/<%= tripItem.id %>/edit">Edit</a>
    </div>
    <div>
      <form action="/trips/<%= tripItem.trip_id %>/tripItems/<%= tripItem.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
          <button class="deletebtn">Delete</button>
      </form>
    </div>
  </footer>
</div>

<img class="plane" src="https://i.imgur.com/sShpcjG.png" alt="">